SECRET_KEY=SyxYNBcZhtZtWIWAjWCXalx6rffXJaZW

ACCESS_SECRET_KEY=be3d5003ace2b8f731c57c4b3988127dee4e5f02b351840266dfe08417027615
ACCESS_EXPIRE_MINUTES=30

REFRESH_SECRET_KEY=25c0947728e572b55a4529dc49136bae1e11f7f277243f77c2c5ee54d783de4b
REFRESH_EXPIRE_DAYS=10


# DATABASE
DB_SERVER=localhost
DB_PORT=5432
DB_NAME=blog
DB_USER=blog
DB_PASSWORD=password

# TEST DATABASE
DB_SERVER_TEST=localhost
DB_PORT_TEST=5432
DB_NAME_TEST=blog_test
DB_USER_TEST=test
DB_PASSWORD_TEST=password

SQLALCHEMY_ECHO=False

